
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <!--ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol-->

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item active">
        <%= image_tag "overattired_sign.jpg"%>
        <div class="carousel-caption">
          <h3>OverAttired Storefront</h3>
          <p>Fitting you with the finest sartorial trends from decades of fashion, est. 2015</p>
        </div>
      </div>

      <div class="item">
        <!--img src="http://wearinghistoryblog.com/wp-content/uploads/2015/05/ea59d504f35f70ceafae2667277afd96_original.jpg" alt="Third slide" alt="Chania" width="460" height="345"-->
        <%= image_tag "sammonica.jpg"%>
        <div class="carousel-caption">
          <h3>Sam and Monica</h3>
          <p>Overattired's dapper proprietors</p>
        </div>
      </div>
    
      <div class="item">
        <!--img src="https://overattired.files.wordpress.com/2015/10/daytime-sign-cropped.jpg" alt="Third slide" alt="Flower" width="460" height="345"-->
        <%= image_tag "dressedtothenines.jpg"%>
        <div class="carousel-caption">
          <h3>Our Wonderful Patrons</h3>
          <p>Dressed To The Nines</p>
        </div>
      </div>
  
    </div>

    <div class="container content-area">
      <div class="row">
        <h1></h1>
      </div>
      <div class="row">
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-clipboard fa-stack-1x fa-inverse"></i>
          </span>
          <h3 class="section-subheading text-center">Sign Up</h3>
          <p class="text-muted">Create your own account in a cinch by simply providing us with your name and email.</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-clipboard fa-stack-1x fa-inverse"></i>
          </span>
          <h3 class="section-subheading text-center">Get Measured</h3>
          <p class="text-muted">Enter your personal measurements from home or in store. If you are remote we will guide you through the process, lickety-split.</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-clipboard fa-stack-1x fa-inverse"></i>
          </span>
          <h3 class="section-subheading text-center">Receive Matches</h3>
          <p class="text-muted">Voila! We will provide you with tailored matches based on your size.  When something arrives in the shop that fits you we will let you know.  That perfect piece found you!</p>
        </div>
      </div>
    </div>



<!--section id="services">
  <div class="container">
    <div class="row text-center">
      <h2 class="section-heading">Our Services</h2>
    </div--><!--row close-->
    <!--div class="row text-center icons">
       <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-clipboard fa-stack-1x fa-inverse"></i>
                </span>
                <h3 class="section-subheading">Full Service Management</h3>
                <p class="text-muted">Automated record production and tracking with local, personalized service and 24 hour / 7 day emergency availability.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-usd fa-stack-1x fa-inverse"></i>
                </span>
                <h3 class="section-subheading">Financial</h3>
                <p class="text-muted">Billing and bookkeeping services for common interest developments.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-question fa-stack-1x fa-inverse"></i>
                </span>
                <h3 class="section-subheading">Consutling</h3>
                <p class="text-muted">Professional trained observer with real industry experience and vendor information.</p>
            </div>
    </div--><!--row close-->
    <!--div class="row text-center">
      <button onclick="window.location.href='test/services'">
        <h3>Learn More</h3>
      </button>
    </div>
  </div--><!--container close-->
<!--/section>--><!--section close-->