
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <!--ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item active">
        <%= image_tag "overattired_sign.jpg"%>
        <div class="carousel-caption">
          <h3>Overattired Storefront</h3>
          <p>Fitting you with the finest sartorial trends from decades of fashion, est. 2015</p>
        </div>
      </div>

      <div class="item">
        <img src="http://wearinghistoryblog.com/wp-content/uploads/2015/05/ea59d504f35f70ceafae2667277afd96_original.jpg" alt="Third slide" alt="Chania" width="460" height="345">
        <div class="carousel-caption">
          <h3>Sam and Monica</h3>
          <p>Overattired's dapper proprietors</p>
        </div>
      </div>
    
      <div class="item">
        <img src="https://overattired.files.wordpress.com/2015/10/daytime-sign-cropped.jpg" alt="Third slide" alt="Flower" width="460" height="345">
        <div class="carousel-caption">
          <h3>Flowers</h3>
          <p>Beatiful flowers in Kolymbari, Crete.</p>
        </div>
      </div>
  
    </div>

    <div class="container content-area">
      <div class="row">
        <h1></h1>
      </div>
      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        </div>
      </div>
    </div>
