<div class="container top">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 content-area">
      <div class="text-center">
      <h1><span class="underline">Measurements</span></h1>
      <p class="large">Please Enter Your Indubitably Dapper, Conscientiously Chic Measurements: </p>
      </div>

      <%= render 'form_user_measurement' %>
      </div>
</div>