<% if @measurement.measurable_type == "User" %>
<h1>Please Edit Your Indubitably Dapper, Conscientiously Chic Measurements: </h1>

   <%= render "form_user_measurement" %>

<% else %>

	<p>I think you meant to edit a product measurement...</p>
  	<%= link_to "Edit Product Details", edit_admin_product_path(@measurement.measurable_id) %>

<% end %>


