<h1>This is the Products Index page located at views/admin/products/index</h1>

<%= link_to "Add New Product", new_admin_product_path %>

<ul>
  <% @products.each do |product| %>
  <li><%= link_to "#{product.name}", admin_product_path(product.id) %></li>
  <% end %>
</ul>