<h1>This is the Products Index page located at views/admin/products/index</h1>

<ul>
  <% @products.each do |product| %>
  <li><%= link_to "#{product.name}", product_path(product) %></li>
  <% end %>
</ul>