<p> Show Page </p>
<%= link_to "Edit Product", edit_admin_product_path %>
<p>
  <strong>Title:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Link:</strong>
  <a href=<%= @product.url %>><%= @product.url %></a>
</p>
 