<!DOCTYPE html>
<html>

  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>

    <h1> YOUR PRETTY MATCHES </h1>
    <% @user.match.each do |product| %>
      <p> Title: <%= product.title %></p>
      <p> Link: <%= product.url %></p>
    <% end %>

  </body>
</html>