.btn-primary {
	font-family: 'mostraOneRegular';
	background-color: #CFAE66;
	color: black;
	border: 0px;
	font-weight: 400;
}	

.btn-primary:hover {
	background-color: #C4A15C;
	color: black;
}

.btn-primary:active:focus {
	background-color: #C4A15C;
	color: black;
	-webkit-box-shadow: inset 5px 5px 10px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 5px 5px 10px -5px rgba(0,0,0,0.75);
	box-shadow: inset 5px 5px 10px -5px rgba(0,0,0,0.75);
}