<h1>Hello from User Index Page</h1>

<ul>
  <% @users.each do |user| %>
    <ul>
      <li><%= user.first_name %> <%= user.last_name %></li>
      <ul>
        <li><%= user.email %></li>
      </ul>
    </ul>
  <% end %>
</ul>